@charset "UTF-8";

/* tabMenu.css */
/******************* tabMenu *******************/

#tabMenuBox {
        width:80%;
        height:580px;
        background:white;
        padding:40px;
        text-align:center;
}

#tabMenu ul {
    height:30px;
    padding:0;
}

#tabMenu ul li{
    float:left;
    list-style:none;
    width:25%;
    padding:0;
    height:30px;
    line-height:30px;
    overflow:hidden;
    margin-top:0px;
}

/* tab에 마우스를 올렸을 때 커서를 포인터로 변환 */

#tabMenu img:hover { cursor:pointer;}

/* 탭선택표시 : js파일에서 addclass()에서 사용하기 위한 클래서 선택자 생성 */
.selectedItem img{margin-top:-30px;}


/********************* TAB CONTENT **********************/
#tabContent {
        width:100%;
        height:550px;
        margin-top:20px;
        border-top:solid 1px #cccccc;
        border-bottom:solid 1px #cccccc;
}

#tabContent div {
        display:none; /* 보이지않음 */
        padding:0;
        margin-top:20px;
}

/* 첫번째 div만 보임 */
#tabContent div:first-child{ display:block;}

#tabContent Img {width:90%; border:solid 1px #cccccc;}
